html,
body {
  margin: 0;
  overflow-x: hidden;
}

.background-login {
  background-image: url("/images/background-login.jpg");
  background-size: cover;
  height: 100vh;

  /* move image to center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  height: 100vh;

  /* move image to center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #efc81a;
}

.form-login p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #8692a6;
}

.form-login .form-width {
  width: 400px;
}

.form-login .forgot {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-login .dont-have-account {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: #999999;
}

.form-login .sign-up {
  color: #efc81a;
  text-decoration: none;
}
