#profile_page .header {
  height: 40vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#profile_page .image-center {
  display: flex;
  justify-content: center;
}

#profile_page .profile-image {
  width: 100px;
  border-radius: 50%;
}
